img{
	opacity: 0;
}

.image { 
	position: relative; 
	width: 100%; /* for IE 6 */
}

h2 { 
	position: absolute; 
	left: 0;
    top: 33%;
    width: 100%;
    text-align: center;
    font-family: 'Abril Fatface',cursive;
    color: #EA4E1D;
    font-size: 40px;

}